extends ../layouts/common

block content
    h1 Transaction
    a.mb-3(class="btn btn-primary mt-2", href="/transactions/create") New transaction
    table.table  
        tr
            th User
            th Book Borrowed
        each tran in trans
            tr
                td=tran.userName
                td=tran.bookName
                td     
                    a(class="btn btn-primary mt-2", href="/transactions/" + tran.borrowedId + "/complete") Complete
                td
                    a(class="btn btn-primary mt-2", href="/transactions/" + tran.borrowedId + "/delete") Delete
        
        //- each user in users
        //-     tr
        //-         td=user.name
        //-             each book in books
        //-                 td=book.name
        //-                 td
        //-                     img(src=book.coverUrl, width='64')

        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-end
                li.page-item.disabled
                a.page-link(href='?page=' + goToFirst) first
                li.page-item
                a.page-link(href='?page=' + leftNum)=leftNum
                li.page-item
                a.page-link(href='?page=' + mainNum)=mainNum
                li.page-item
                a.page-link(href='?page=' + rightNum)=rightNum
                li.page-item
                a.page-link(href='?page=' + goToLast) Last

    a(class="btn btn-primary mt-2", href="/") Back